<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{titlePage}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <app-amiibo
                *ngFor="let amiibo of amiibosToDisplay"
                [amiboo]="amiibo">
        
        </app-amiibo>
    </ion-list>
    
    <ion-infinite-scroll threshold="200px" (ionInfinite)="loadMoreData($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Chargement en cours">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
